<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> cookie practice</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <h1>쿠키 실습</h1>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="Cookie()">
쿠키생성</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        안녕하세요 
      </div>
      <div class="modal-footer">
        <label for="cookie">오늘하루보지않기</label>
        <input type="checkbox" id="cookie"/>
      </div>
    </div>
  </div>
</div>
<script>
  function Cookie(){
    axios({
      method:'GET',
      url:'/getCookie'
    }).then((res)=>{
      console.log(res);
    })
  }
  const checkbox=document.querySelector('#cookie');
  checkbox.addEventListener('click',isChecked);
  function isChecked(){
    console.log(checkbox)
    if(checkbox.checked==true){
    axios({
      method:'GET',
      url:'/clearCookie'
    }).then((res)=>{
          console.log('res',res);
          window.location.href='/';
    })
  }
  }

</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>