<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>session 실습</title>
</head>
<body>
    <a href="/name" id="login">로그인</a>
</body>
<script>
    const resultB=document.querySelector('.result');
    const a_login=document.querySelector('#login')
    a_login.addEventListener('click',login())
    function login(){
        axios({
            method:'GET',
            url:'/name'
        }).then((res)=>{
            
        })
    }
</script>
</html>