* {
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 700;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  h1 {
    text-align: center;
  }
  
  header {
    width: 100%;
    height: 60px;
    background-color: #ddd;
    padding: 0 20px;
    margin-bottom: 50px;
  }
    /* header1 */
    .header1 {
        display:flex
    }
    .header1 > menus{
      display: flex;
      flex-direction: row;
    }
    
    /* header2 */
    .header2 {
      display: flex;
      flex-direction: row;
    }
    
    /* header3 */
    .header3 {
      display: none;
    }
    
    /* header4 */
    .header4 {
      display: none;
    }