.container{
  display: flex;
  flex-direction: row;
}
.red{
    width: 50px;
    height: 50px;
    background-color: red;
}
.orange{
  width: 50px;
    height: 100px;
    background-color: orange;
}
.yellow{
  width: 50px;
  height: 150px;
  background-color: yellow;
}
.green{
  width: 50px;
  height: 200px;
  background-color: green;
}
.blue{
  width: 50px;
  height: 250px;
  background-color: blue;
}
.navy{
  width: 50px;
  height: 300px;
  background-color: navy;
}
.purple{
  width: 50px;
  height: 350px;
  background-color: purple;
}
