<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>회원가입</title>
</head>
<body>
    <h1>회원가입</h1>
    <form name="user-signup">
        <input type="text" id="userid" placeholder="아이디 입력"><br>
        <input type="text" id="name" placeholder="이름 입력"/><br>
        <input type="password" id="pw" placeholder="비밀번호 입력"/><br>
        <button type="button" onclick="userSignup()">회원가입</button><br>
        <a href="/user">홈으로</a>
        <div class="result"></div>
    </form>
    <script>
        function userSignup(){
            const resultBox=document.querySelector('.result');
            const form=document.forms['user-signup'];
            axios({
                method:'POST',
                url:'/user/signup',
                data:{
                    userid:form.userid.value,
                    name:form.name.value,
                    pw:form.pw.value
                }
            }).then(res=>{
                console.log('res',res);
                if(res.data.result){
                    alert('회원가입 성공!')
                    window.location.href='./signin'
                }
            })
        }
    </script>
</body>
</html>