<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= data.userid %>님 댓글이비다</h1>
    <div>
        <p>작성일: <%= data.data%></p>
        <p>댓글: <%= data.comment%></p>
    </div>
    <a href="/comments">목록보기</a>
</body>
</html>